html {
  border: 0px;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}
body {
background: rgb(44, 44, 61);
border: 0px;
margin: 0px;
overflow: hidden;
padding: 0px;

}
.application {

display: flex;
flex-direction: row;
}
.userMenu {
  /*---Layout---*/
  position: absolute;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /*---Style---*/
  border-radius: 20px;
  background: #68302C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-wrapper {
  /*---Layout---*/
  display: inline-flex;
  padding: 24px;
  align-items: flex-start;
  gap: 10px;
  /*---Style---*/
  border-radius: 12px;
  background: var(--Input-field-background, #F2F4F8);
  
}

.search-wrapper input[type="search"] {
    /*---Layout---*/
    width: 560px;
    border: none;
    /*---Style---*/
    color: #000;
    background-color: #F2F4F8;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

.search-wrapper input:focus {
outline: none;
}

.search-wrapper button {
border: 0;
cursor: pointer;
border-radius: 2px;
background-color: white;
transition: 0.3s;
}

.dropdown {
  position: relative;
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 2px solid #F2F4F8;
  background: #F2F4F8;
}

.search-wrapper button:focus {
outline: none;
.Search button:hover {
background-color: #ff5f49;
transition: 0.3s;
}

html .Application .UserMenu #Toggleable .BiographyFamily {
background-color: rgba(255, 155, 178, 0.5);
}
html .Application .UserMenu #Toggleable .BiographyFamily #BiographySummary {
background-color: rgba(255, 79, 119, 0.2);
}
html .Application .UserMenu #Toggleable .BiographyFriend {
background-color: rgba(147, 198, 177, 0.5);
}
html .Application .UserMenu #Toggleable .BiographyFriend #BiographySummary {
background-color: rgba(97, 172, 141, 0.4);
}
html .Application .UserMenu #Toggleable .BiographyBA {
background-color: rgba(255, 240, 155, 0.5);
}
html .Application .UserMenu #Toggleable .BiographyBA #BiographySummary {
background-color: rgba(255, 229, 79, 0.5);
}
html .Application .UserMenu #Toggleable #Biography {
width: 98%;
border-radius: 3px;
margin-bottom: 20px;
/* margin-left: 50px; */
/* margin-top: 100px; */
max-height: 50vh;
overflow: auto;
display: none;
}
html .Application .UserMenu #Toggleable #Biography .Info {
padding: 1%;
}
html .Application .UserMenu #Toggleable #Biography .Info .NameAndClose {
display: flex;
flex-direction: row;
justify-content: space-between;
}
html .Application .UserMenu #Toggleable #Biography .Info .NameAndClose #CloseButton {
display: none;
}
html .Application .UserMenu #Toggleable #Biography .Info .NameAndClose #CloseButton svg {
width: 10px;
height: 10px;
cursor: pointer;
transition: 0.3s;
}
html .Application .UserMenu #Toggleable #Biography .Info .NameAndClose #CloseButton svg:hover {
width: 13px;
height: 13px;
transition: 0.3s;
}
html .Application .UserMenu #Toggleable #Biography .Photo {
display: flex;
flex-direction: column;
justify-content: center;
margin: 5px 0;
}
/* html .Application .UserMenu #Toggleable #Biography .Photo #BiographyPhoto {
margin: 0 auto;
width: 50%;
} */
html .Application .UserMenu #Toggleable #Biography #BiographySummary {
padding: 1%;
}
html .Application .UserMenu #Toggleable #Biography #BiographyLetters {
margin-top: 10px;
padding: 1%;
}
html .Application .UserMenu .ToggleMenu {
display: flex;
justify-content: center;
cursor: pointer;
}
html .Application .UserMenu .ToggleMenu .Button {
display: flex;
flex-direction: row;
background-color: rgba(26, 26, 26, 0.1);
border-radius: 3px;
padding: 3px;
transition: 0.2s;
}
html .Application .UserMenu .ToggleMenu .Button:hover {
background-color: white;
transition: 0.2s;
}
html .Application .UserMenu .ToggleMenu .Button svg {
width: 15px;
height: 15px;
transform: rotate(180deg);
margin-left: 20px;
}
html .Application #relationshipWeb {
margin: 0 auto;
width: 100%;
height: 90vh;
margin-left: -20px;
}

.RelationshipNode {
cursor: pointer;
stroke-width: 5;
}

.fullNameBorderFriend {
padding: 1px;
border-radius: 3px;
border: 1px solid #93c6b1;
background-color: #c9e3d8;
text-align: center;
}

.fullNameBorderFamily {
padding: 1px;
border-radius: 3px;
border: 1px solid #ff9bb2;
background-color: #ffcdd9;
}

.fullNameBorderBA {
padding: 1px;
border-radius: 3px;
border: 1px solid #fff09b;
background-color: #fff8cd;
}

#iframe {
border: none;
height : 1081;
width : 1081px;
overflow : hidden;
}

#object {
min-width: 100%;
min-height: 101%;
}

html .Application .UserMenu #Toggleable .Search #people option{
margin: 1px;

background-color: rgba(37, 138, 233, 0.1);
/* Whatever color  you want */
background-color: #82caff;
background: transparent;

color: burlywood;

text-shadow: 0 1px 0 rgba(123, 233, 160, 0.4);
font-weight: normal;
  /* display: inline-block; */
  /* white-space: wrap; */
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

datalist{
margin: 1px;

background-color: rgba(37, 138, 233, 0.1) !important;
/* Whatever color  you want */
background: #82caff;
background: transparent !important;

color: burlywood;

text-shadow: 0 1px 0 rgba(123, 233, 160, 0.4);
font-weight: normal;
  /* display: inline-block; */
  /* white-space: wrap; */
  min-height: 1.2em;
  padding: 0px 2px 1px;
}


/*# sourceMappingURL=style.css.map */



/*style for the right side images*/

#BiographyPhoto{
object-fit: cover;
height: 153.67px;
width: 153.67px;
border:1px solid #636363;
border-radius: 50%;
margin:0 auto;
}
